<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz Maaza</h1>
    <p class="col-md-8 fs-4">There will be ten questions in all on this quiz. Every question is worth ten points.</p>
    <h4>Rules :</h4>
    <ol>
        <li>Correct question gives you 10 points</li>
        <li>Incorrect question gives you -10 points</li>
        <li>You will have 60 sec to answer each question</li>
        <li>Refreshing the page will reset the Quiz</li>
    </ol>
    <h1 style="font-family: Assistant; text-align: center;">All the best...!!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name :</label>
        <input #name type="text" placeholder="Name" class="form-control">
    </div>
    <button class="btn-info btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz</button>
</div>
